/* ------sale and common styling------ */


body{
    /* margin: 0px; */
    /* padding: 0px; */
}
.main-list{
   border: 1px solid blue;
   display: flex;
   justify-content: space-around;
}
/* .sub-list{
   border: 1px solid red;
   width: 20%;
} */
/* #sale>div>li{
   list-style-type: none;
   padding: 10px;
} */
#women,#men,#kids,#young-adult{
   /* border: 1px solid red; */
   width: 98%;
   height: auto;
   margin: auto;
   margin-top: 120px;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
  
}
#women>div,#men>div,#kids>div,#young-adult>div{
   /* border: 1px solid green; */
   width: 15%;
   height: auto;
   text-align: left;
}
p{
 font-family: Brandon Text,Arial,sans-serif;
 font-weight: lighter;
 color: #393939;
 cursor: pointer;
}
h4{
font-family: Brandon Text,Arial,sans-serif;
font-size: 15px; 
cursor: pointer;
}
.price-match-img+p{
text-decoration: underline;
}
h4:hover,p:hover{
text-decoration: underline;
text-decoration-thickness: 2px;
}
.cut-img{
   width: 18%;
   margin-left: 160px;
   cursor: pointer;
}
.price-match-img{
   width: 100%;
   cursor: pointer;
}
