#container {
    width: 95%;
    margin: auto;
}
* {
    font-family: century-gothic, sans-serif;
    
}
body {
    padding: 0px;
    margin: 0px;
    position: relative;
}
#fix {
    position: fixed;
    top: 88%;
    left: 94%;
    
}

#uper {
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headnav {
    /* font-family: sans-serif; */
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headnav>input {
    height: 45px;
    /* margin-top: 20px; */
    width: 65%;
    
}

#headnav>img {
    height: 42px;
}

#headnav>h1 {
    /* margin-left: px; */
    margin-right: -10%;
}

#nav {
    /* border: 1px solid red; */
    width: 100%;
    padding: 0px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

#sign>p {
    color: rgb(65, 65, 65);
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    /* font-family: sans-serif; */
}

#sign {
    text-align: center;
}

#sign>button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    border: 1px solid;
}
#sign>button:hover{
    background-color: whitesmoke;
    border: 1px solid white;
}

#promo {
    text-align: center;
    margin-top: 50px;

}

#promo>img {
    width: 80%;
    
}

#img3 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 50px;
}

#ct {
    width: 70%;
    height: 500px;
    margin-right: 20px;
}

.trend {
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(6, 17%);
    grid-template-rows: repeat(1, 550px);
    justify-content: space-around;
}

.trend>div {
    border: 0px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}

.tpic {
    width: 100%;
    height: 60%;
}

.tlogo {
    width: 40%;

}

.red {
    color: red;
    margin-top: -23px;
}

.tpic+p {
    font-size: 15px;
    margin-bottom: 30px;
}

.tex {
    background-color: rgb(244, 239, 232);
}
#trending{
    /* width: 70%; */
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: repeat(1,700px);
    justify-content: space-between;
}
#trending>div{
    border: 0px solid;
    /* font-family: sans-serif; */
    font-size: 15px;
}
#trending>div>img{
    width: 100%;
}
#col3{
    display: grid;
    grid-template-columns: repeat(3,31%);
    grid-template-rows: repeat(1,600px);
    margin-top: 50px;
    gap: 10px;
    justify-content: space-evenly;
    color: rgb(61, 59, 59);
    /* font-family: sans-serif; */
}
#col3>div>img{
    width: 104%;
}
#NORDY{
    background-color: forestgreen;
    display: flex;
    margin-top: 30px;
    height: 200px;
}
#NORDY>img{
    align-items: center;
    width: 70%;
}
#category{
    display: grid;
    grid-template-columns: repeat(6,16.8%);
    grid-template-rows: repeat(1,auto);
    justify-content: space-between;
    text-align: center;
    margin-top: 60px;
    /* font-family: sans-serif; */
}
#category img{
    width: 100%;
}
#col4{
    display: grid;
    grid-template-columns: repeat(4,24%);
    justify-content: space-evenly;
    margin-top: 80px;
}
#col4>div>img{
    width: 100%;
}
#footer{
    display: grid;
    grid-template-columns: repeat(6,16%);
    color: rgb(73, 73, 73);
    margin-top: 100px;
    justify-content: center;
    /* font-family: sans-serif; */
    background-color: #FBF8F1;
}
#footer p{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
.FH{
    color: black;
}
#headnav input{
    margin-left: 150px;
}
.cat{
    /* border: 1px solid teal; */
    display: none;
    position: absolute;
    left: 0px;
    top: 170px;
}
#nav :hover .cat{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
}
.ddInside {
    display: none;
    position: absolute;
    left: 77%;
    top: 100px;
}
.ddInside p:hover  {
    text-decoration: underline;
    cursor: pointer;
}
#ddSignup :hover .ddInside {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
.ddInside img {
    margin-right: 6px;
    height: 17px;
}
#logoutDiv {
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}
#logoutDiv a {
    color: white;
}
.cat>div{
    /* border: 1px solid green; */
    width: 16%;
    margin: 0px;
    margin-top: 0px;
    font-family: Brandon Text,Arial,sans-serif;
    cursor: pointer;
}
.cat>div>p{
    color: #393939;
}
.cat>div>img:nth-child(1){
    /* border: 1px solid black; */
    width: 20%;
    margin-left: 75%;
}
.cat>div>img:nth-child(2){
    width: 100%;
}
.cat>div>h4:hover,.cat>div>p:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border-color: black;
    color: darkorange;
}
#lastLine {
    padding: 2%;
    background-color: #FBF8F1;
}
#lastLine > span {
    margin-right: 40px;
    font-size: 13px;
    color: grey;
}
#lastLine span:hover {
    text-decoration: underline 2px;
}
#smDiv {
    display: flex;
    flex-direction: column;
}
#smDiv > div:nth-child(1){
    margin-top: 20px;
    margin-bottom: 20px;
}
#smDiv > div:nth-child(1) img {
    height: 25px;

}
#smDiv > div:nth-child(2) img {
    height: 25px;
    margin: 5px;
    
}
#smDiv > div:nth-child(2) img:nth-child(5) {
    height: 20px;
    margin-bottom: 10px;
}
