#navContainer {
    width: 95%;
    margin: auto;
}
#navContainer hr {
    margin-top: 10px;
}
/* changes */
#navContainer a {
    text-decoration: none;
    color: black;
}
#shopNowBtn a {
    text-decoration: none;
    color: black;
}
/* end */

body {
    padding: 0px;
    margin: 0px;
}

#uper {
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#uper > p {
    margin-right: 5%;
}
#headnav {
    /* font-family: sans-serif; */
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headnav>input {
    height: 45px;
    margin-top: -5px;
    width: 60%;
    margin-right: -18%;
}

#headnav>img {
    height: 42px;
}

#headnav>p {
    margin-left: 250px;
}

#nav {
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}

#nav a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

#nav p:hover {
    text-decoration: underline 2px;
}

/* navbar end */

* {
    font-family: century-gothic, sans-serif;
}
#container {
    margin: auto;

    margin-top: 50px;
    width: 25%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
#imgDiv {
    display: flex;
    width: 100%;
    height: 26px;
    box-sizing: border-box;
    
}
#imgDiv > div > img {
    height: 100%;
    margin-right: 40px;
}
#shopNowBtn{
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    color: black;
    padding: 10px;
    cursor: pointer;            
}
#shopNowBtn:hover{
    background-color: whitesmoke;
    border: 2px solid white;
}
#container hr {
    /* border: 10px solid green; */
    color: grey;
    width: 95%;
    margin-top: 35px;
    margin-bottom: 20px;
}
#imgDiv2 {
    display: flex;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    
}
#imgDiv2 > div > img {
    height: 100%;
    width: 100%;
    /* margin-right: 40px; */
}
#imgDiv3 {
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 1%;
    align-items: center;
}
#imgDiv3 > div {
    text-align: center;

}
#endDiv {
    display: flex;
    flex-direction: column;
}
#next {
    margin-top: 20px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}
#endDiv > input {
    padding: 10px;
    margin-top: -14px;
}
#container > p {
    font-size: 12px;
    color: grey;
}
#endDiv > p {
    font-size: 12px;
    color: grey;
}
#imgDiv3 > div > p {
    font-size: 12px;
    color: grey;    
}

/* footer start */
#footer{
    display: grid;
    grid-template-columns: repeat(6,16%);
    color: rgb(73, 73, 73);
    margin-top: 100px;
    justify-content: center;
    background-color: #FBF8F1;
}
#footer p{
    font-size: 14px;
}
.FH{
    color: black;
}
#lastLine {
    padding: 2%;
    background-color: #FBF8F1;
}
#lastLine > span {
    margin-right: 40px;
    font-size: 13px;
    color: grey;
}
#lastLine span:hover {
    text-decoration: underline 2px;
}
#footer>div p:hover {
    text-decoration: underline 2px;
}
#footer a {
    text-decoration: none;
    color: black;
}
#smDiv {
    display: flex;
    flex-direction: column;
}
#smDiv > div:nth-child(1){
    margin-top: 20px;
    margin-bottom: 20px;
}
#smDiv > div:nth-child(1) img {
    height: 25px;

}
#smDiv > div:nth-child(2) img {
    height: 25px;
    margin: 5px;
    
}
#smDiv > div:nth-child(2) img:nth-child(5) {
    height: 20px;
    margin-bottom: 10px;
}
@media all and (min-width: 751px) and (max-width:900px) {
    #container {
        width: 50%;
    }
}
@media all and (min-width: 451px) and (max-width:750px) {
    #container {
        width: 80%;
    }
    #headnav > input {
        display: none;
    }
    #headnav > h1 {
        font-size: 20px;
    }
    #nav input {
        width: 90%;
        padding: 14px;
    }
    #uper p+p {
        display: none;
    }
    #footer {
        display: none;
    }
    #lastLine {
        display: none;
    }
}

@media all and (min-width: 100px) and (max-width:450px) {
    #container {
        width: 90%;
    }
    #headnav > input {
        display: none;
    }
    #headnav > h1 {
        font-size: 16px;
    }
    #headnav > p {
        font-size: 12px;
    }
    #nav input {
        width: 90%;
        padding: 10px;
    }
    #headnav h1 {
        margin-right: -150px;
    }
    #uper p+p {
        display: none;
    }
    #footer {
        display: none;
    }
    #lastLine {
        display: none;
    }
}