/* footer section */

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(6, 16%);
    color: rgb(73, 73, 73);
    margin-top: 100px;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(249, 249, 249);
}

#footer p {
    font-size: 14px;
}

.FH {
    color: black;
}

#headnav input {
    margin-left: 150px;
}