/* header section */

#header {
    grid-area: header;
}

#uper {
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headnav {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headnav>input {
    height: 45px;
    width: 40%;
}

#headnav>img {
    height: 45px;
}

#signin {
    width: 5%;
    margin-left: 250px;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: space-around;
}

#nav a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}